/.*


/Code/*
!/Code/Source/
/Code/Source/*
!/Code/Source/dmenu
!/Code/Source/st

/Downloads/*
/Games/*

!/Downloads/Telegram Desktop
/Downloads/Telegram Desktop/*

/Sync/*

/Data/*
!/Data/*-packages.txt

/Mount/*
!/Mount/DwarfStorage
/Mount/DwarfStorage/*

!*.gitkeep

!.config
!.scripts

!.local
.local/*
!.local/share
.local/share/*
!.local/share/fonts

!.xinitrc
!.bashrc

!.gitignore
