/.*


/Code/*
/Downloads/*
/Games/*

!/Downloads/Telegram Desktop
/Downloads/Telegram Desktop/*

/Sync/*
/Data/*
/Mount/*
/Documents/*

!*.gitkeep

!.config
!.scripts

!.xinitrc
!.bashrc

!.gitignore
